<mat-card>
  <mat-card-content>

    <h3>Datenschutz</h3>
    <p>
      Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst.
      Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
    </p>
    <p>
      Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich.
      Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.
      Diese Daten werden gemäss dieser Datenschutzerklärung teilweise an Dritte weitergegeben.
    </p>
    <p>
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann.
      Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
    </p>

    <h3>Cookies</h3>
    <p>
      Die Internetseiten verwenden teilweise so genannte Cookies.
      Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren.
      Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
      Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
    </p>
    <p>
      Wir verwenden diese Cookies um Ihre Nutzererfahrung zu verbessern.
      Die Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen.
      Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen und Daten (z.B. zuletzt verwendeter Radiosender) zu speichern.
    </p>
    <p>
      Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren.
      Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
    </p>

    <h3>Hosting Provider & Server-LogFiles</h3>
    <p>
      Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt.
    </p>
    <p>
      Dies sind:
    </p>
    <ul>
      <li>IP-Adresse</li>
      <li>Browsertyp und Browserversion</li>
      <li>verwendetes Betriebssystem</li>
      <li>Referrer URL</li>
      <li>Hostname des zugreifenden Rechners</li>
      <li>Uhrzeit der Serveranfrage</li>
    </ul>
    <p>
      Diese Daten sind nicht direkt bestimmten Personen zuordenbar.
      Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
      Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
    </p>
    <p>
      Diese Daten werden bei unserem Hosting-Provider <a href="https://firebase.google.com/">Firebase</a> gespeichert, deren Datenschutzerklärung Sie <a href="https://firebase.google.com/support/privacy/">hier</a> finden.
    </p>

    <h3>SSL-Verschlüsselung</h3>
    <p>
      Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung eine SSL-Verschlüsselung.
      Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
    </p>
    <p>
      Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
    </p>
    <p>
      Einige der Dritt-Streams, welche von dieser Seite verwendet werden, sind nicht SSL verschlüsselt.
      Zu erkennen sind diese am "http://"-Prefix anstelle des "https://"-Prefix.
    </p>

    <h3>Google Analytics</h3>
    <p>
      Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, USA.
    </p>
    <p>
      Google Analytics verwendet so genannte „Cookies“.
      Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen.
      Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
    </p>
    <h4>IP Anonymisierung</h4>
    <p>
      Wir haben auf dieser Website die Funktion IP-Anonymisierung aktiviert.
      Dadurch wird Ihre IP-Adresse von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum vor der Übermittlung in die USA gekürzt.
      Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.
      Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.
      Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
    </p>
    <h4>Browser Plugin</h4>
    <p>
      Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.
      Sie können darüber hinaus die Erfassung der durch den Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren:
      <a href="https://tools.google.com/dlpage/gaoptout?hl=de">https://tools.google.com/dlpage/gaoptout?hl=de</a>
    </p>
    <p>
      Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden Sie in der Datenschutzerklärung von Google:
      <a href="https://support.google.com/analytics/answer/6004245?hl=de">https://support.google.com/analytics/answer/6004245?hl=de</a>
    </p>

    <h3>Google Fonts</h3>
    <p>
      Auf dieser Website werden Google Fonts genutzt.
      Gemäss unseres Wissens werden dabei keine persönlichen Daten durch Google gespeichert.
    </p>
    <p>
      Dazu muss aber aus technischen Gründen Ihre IP-Adresse an Google übermittelt werden, damit die Schriftarten an Ihren Browser übertragen werden können.
    </p>
    <p>
      Mehr Informationen von Google zu Google Fonts können Sie <a href="https://developers.google.com/fonts/faq#what_does_using_the_google_fonts_api_mean_for_the_privacy_of_my_users">hier</a> einsehen.
    </p>

    <h3>Verweise</h3>
    <p>
      Diese Seite verweist ledigleich auf die Streams von Radioanbietern.
      Folgend werden alle angebotenen Radiostationen aufgelistet mit einem Verweis auf diese Streams.
      An der URL kann erkennt werden, ob der Stream SSL verschlüsselt ist.
      Radiopirat ist nicht Besitzer oder in irgendeiner Verbindung zu diesen Sendern und nicht Besitzer oder in irgendeiner Verbindung zu dem ausgestrahlten Inhalt.
      Das Copyright der Streams liegt bei den Besitzern der entsprechenden Streams.
    </p>
    <ul>
      <li>Radio SRF 3 (Stream-URL: <a href="http://stream.srg-ssr.ch/m/drs3/mp3_128">http://stream.srg-ssr.ch/m/drs3/mp3_128</a>)</li>
      <li>Energy Zürich (Stream-URL: <a href="http://energyzuerich.ice.infomaniak.ch/energyzuerich-high.mp3">http://energyzuerich.ice.infomaniak.ch/energyzuerich-high.mp3</a>)</li>
      <li>RTS Couleur 3 (Stream-URL: <a href="http://stream.srg-ssr.ch/m/couleur3/aacp_96">http://stream.srg-ssr.ch/m/couleur3/aacp_96</a>)</li>
      <li>Planet 105 (Stream-URL: <a href="http://radio.netstream.ch/planet105_128k_mp3">http://radio.netstream.ch/planet105_128k_mp3</a>)</li>
      <li>Radio 24 (Stream-URL: <a href="http://icecast.radio24.ch/radio24">http://icecast.radio24.ch/radio24</a>)</li>
      <li>La 1ère (Stream-URL: <a href="http://stream.srg-ssr.ch/m/la-1ere/aacp_32">http://stream.srg-ssr.ch/m/la-1ere/aacp_32</a>)</li>
      <li>Radio SRF 2 Kultur (Stream-URL: <a href="http://stream.srg-ssr.ch/m/drs2/mp3_128">http://stream.srg-ssr.ch/m/drs2/mp3_128</a>)</li>
      <li>Radio Pilatus (Stream-URL: <a href="http://radiopilatus.ice.infomaniak.ch/pilatus64.mp3">http://radiopilatus.ice.infomaniak.ch/pilatus64.mp3</a>)</li>
      <li>Energy Bern (Stream-URL: <a href="https://energybern.ice.infomaniak.ch/energybern-high.mp3">https://energybern.ice.infomaniak.ch/energybern-high.mp3</a>)</li>
      <li>Radio Zürisee (Stream-URL: <a href="http://mp3.radio.ch/radiozuerisee128k">http://mp3.radio.ch/radiozuerisee128k</a>)</li>
      <li>One FM (Stream-URL: <a href="http://onefm.ice.infomaniak.ch/onefm-high.mp3">http://onefm.ice.infomaniak.ch/onefm-high.mp3</a>)</li>
      <li>Rouge FM (Stream-URL: <a href="http://rougefm.ice.infomaniak.ch/rougefm-high.mp3">http://rougefm.ice.infomaniak.ch/rougefm-high.mp3</a>)</li>
      <li>Radio 1 (Stream-URL: <a href="http://stream.radio1.ch:8000/128k">http://stream.radio1.ch:8000/128k</a>)</li>
      <li>Radio Argovia (Stream-URL: <a href="http://icecastgreen.argovia.ch/argovia-rc-96-aac">http://icecastgreen.argovia.ch/argovia-rc-96-aac</a>)</li>
    </ul>

    <h3>Zusätzliche Informationen</h3>
    <p>
      Diese Datenschutzerklärung wurde mit Hilfe der Anleitung von 8020webdesign.ch erstellt.
      Diese ist <a href="https://8020webdesign.ch/dsgvo-vernuenftig-umsetzen/">hier</a> zu finden.
    </p>

    <button mat-raised-button color="warn" class="backButton" [routerLink]="'/'">Zurück</button>

  </mat-card-content>
</mat-card>
