<mat-card class="player-card mat-elevation-z10">
  <img
    src="/assets/icon.png"
    alt="Music-Logo">
  <p class="player-card-title">{{ (currentRadioStation$ | async)?.title }}</p>
  <p class="player-card-subtitle">{{ (currentRadioStation$ | async)?.subtitle }}</p>

  <button mat-icon-button class="player-card-play-button" (click)="clickPlayButton()">
    <mat-icon *ngIf="playing$ | async">pause</mat-icon>
    <mat-icon *ngIf="!(playing$ | async)">play_arrow</mat-icon>
  </button>

  <button mat-icon-button class="player-card-volume-button" (click)="clickMuteButton()">
    <mat-icon *ngIf="mute$ | async">volume_off</mat-icon>
    <mat-icon *ngIf="!(mute$ | async)">volume_up</mat-icon>
  </button>

</mat-card>

<div class="spacer"></div>
